/* Resets some of the basic HTML elements */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Responsive breakpoints */
@media (max-width: 600px) {
    /* Styles for mobile */

}

@media (max-width: 600px) {
    /* Styles for tablets */
    
}

@media (max-width: 600px) {
    /* Styles for desktop */
    
}

/* Animations */

/* general styling */
.flex-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    
}

.flex-tile {
    width: 250px;
    height: 250px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}



